node_modules
.pnpm-store
dist
.next
out
.env
.env.local
.env.*.local
*.log
coverage
.nyc_output
.turbo
.DS_Store
.idea
.vscode
*.tsbuildinfo
prisma/dev.db*
apps/web/public/sw.js
apps/web/public/workbox-*.js
